# VSCode Configuration files
.vscode/
*.code-workspace

# Input and work folders and files
1000G/
chunks/
bam/
vcf/
vcf_stats/snp_data/
vcf_stats/*.csv
filtered_vcf/*.vcf.gz
filtered_vcf/*.bcf
filtered_vcf/*.vcf.gz.csi
filtered_vcf/*.csi
filtered_vcf/*.txt
GLIMPSE_imputed/
GLIMPSE_ligated/
imputed_vcf/
maps/
